a.prev:hover,
a.next:hover {
    background-color: #1b8d46;
}

.footerstress {
    border: solid #1b8d46;
    border-width: 1px 0 0;
    clear: both;
    margin: -9px 0px 17px;
}

.testimonial-name {
    color: #1b8d46;
}

.vuzz-pricing-table>div {
    border-top: #1b8d46 3px solid;
}

.vuzz-pricing-table .vuzz-pricing-cost {
    background: #1b8d46;
}

.vuzz-pricing-table .vuzz-pricing-per {
    background: #1b8d46;
}

.hometitlebg {
    background: #1b8d46;
    border: 1px solid #eee;
    color: #fff;
}

.noshadowbox {
    background-color: #fff;
}

.colortitlebg {
    background: #1b8d46;
}

.neutralbutton {
    background: #1b8d46;
}

.serviceicon {
    background-color: #1b8d46;
}

.subtitle {
    border-bottom: #1b8d46 1px solid;
}

.wrapaction {
    border-left: #1b8d46 3px solid;
    background: #fff;
}

.actionbutton {
    background-color: #1b8d46;
}

.stresstitle {
    border-bottom: #1b8d46 1px solid;
}

/* .undermenuarea {	background: #1b8d46 url(../images/HEADERWEB.png) repeat;} */
.undermenuarea {
    /* background: #1b8d46; */
    /* Fondo de color sólido */
    background: linear-gradient(to bottom, #1b8d46, #8ce9af);
    /* Gradiente de arriba a abajo */
}

.back-top a:hover {
    background-color: #333;
}

a.expandAll,
.progressdefault {
    background: #1b8d46;
}

.simplebox {
    border-left: 1px solid #1b8d46;
}

.simpleboxicon {
    color: #1b8d46;
}

.colorme {
    color: #1b8d46;
}

.buttonprice {
    background: #1b8d46;
    color: #fff;
    border: 0px;
}

.wrapactiondefault {
    border-left: #1b8d46 2px solid;
}